<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2022</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate ex facilis nihil nostrum quia quibusdam quidem, tenetur. Ab accusantium adipisci assumenda ducimus eius enim esse ex
      fuga fugit labore maiores nobis, officia porro quidem repellendus similique suscipit tempora vel vero voluptates. Alias error hic illo itaque laboriosam officia, voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate ex facilis nihil nostrum quia quibusdam quidem, tenetur. Ab accusantium adipisci assumenda ducimus eius enim esse ex
      fuga fugit labore maiores nobis, officia porro quidem repellendus similique suscipit tempora vel vero voluptates. Alias error hic illo itaque laboriosam officia, voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate ex facilis nihil nostrum quia quibusdam quidem, tenetur. Ab accusantium adipisci assumenda ducimus eius enim esse ex
      fuga fugit labore maiores nobis, officia porro quidem repellendus similique suscipit tempora vel vero voluptates. Alias error hic illo itaque laboriosam officia, voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate ex facilis nihil nostrum quia quibusdam quidem, tenetur. Ab accusantium adipisci assumenda ducimus eius enim esse ex
      fuga fugit labore maiores nobis, officia porro quidem repellendus similique suscipit tempora vel vero voluptates. Alias error hic illo itaque laboriosam officia, voluptatum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi cupiditate ex facilis nihil nostrum quia quibusdam quidem, tenetur. Ab accusantium adipisci assumenda ducimus eius enim esse ex
      fuga fugit labore maiores nobis, officia porro quidem repellendus similique suscipit tempora vel vero voluptates. Alias error hic illo itaque laboriosam officia, voluptatum.</p>
  </div>
</div>
